<h2 class="mt-4 text-center">Shopping List</h2>

<div class="shopping-list">
  <div>
    <p>Amount of food to buy: <%= @shopping_list_foods.length %></p>
    <p>Total value of food needed: $<%= @total_value_of_food_needed %></p>
  </div>
</div>

<hr />

<% if @shopping_list_foods.present? %>
  <table id="shopping-list" class="table">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @shopping_list_foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= "#{food.quantity} #{food.measurements}" %></td>
          <td>$<%= food.price * food.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="text-center">No items in the shopping list</p>
<% end %>
