<p style="color: green"><%= notice %></p>

<%= link_to "Back to recipes", recipes_path %>
<h1>Recipe</h1>

<h1 class="mb-5 text-center">Recipe Details</h1>
<div class="tab-content d-flex justify-content-center">
  <div class="tab-pane fade show active border rounded p-5" style="width: 57%" id="pills-login" role="tabpanel" aria-labelledby="tab-login">

    <%= render @recipe %>
    <div class="d-flex justify-content-between">
      <%= link_to "Generate Shopping List", shopping_list_path, class: "btn btn-primary" %>
      <% if current_user == @recipe.user %>
        <%= link_to "Add Ingredients", add_recipe_food_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
    <hr>
    <div>

      <div id="recipes">
        <table id='foods_table' class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Value</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @recipe_foods.each do |recipe_food| %>
              <% food_item = @food.find { |food| food.id == recipe_food.food_id } %>
              <tr>
                <td><%= food_item.name%></td>
                <td><%= recipe_food.quantity%></td>
                <td>$ <%= recipe_food.quantity * food_item.price %></td>
                <td><%= link_to "Delete", delete_recipe_food_path(recipe_food.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
